.mainPage{
height: 90vh;
background-position: center;
background-repeat: no-repeat;
}
.order button{
    background-color: #000;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 20px;
    float:right;
    align-items:flex-end;
}